USE [master]
GO
/****** Object:  Database [dbrequest]    Script Date: 10/12/2018 22:03:43 ******/
CREATE DATABASE [dbrequest] ON  PRIMARY 
( NAME = N'dbrequest', FILENAME = N'D:\1\UTS_IlyasYusuf\dbrequest.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbrequest_log', FILENAME = N'D:\1\UTS_IlyasYusuf\dbrequest_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbrequest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbrequest]
GO
/****** Object:  Table [dbo].[RequestForm]    Script Date: 10/12/2018 22:03:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestForm](
	[RequestId] [int] NOT NULL,
	[NameRequestor] [nchar](30) NULL,
	[RequestorId] [nchar](15) NULL,
	[Unit] [nchar](15) NULL,
	[DateIssue] [datetime] NULL,
	[UnitDestination] [nchar](15) NULL,
	[acRegis] [nchar](15) NULL,
	[Transportation] [nchar](30) NULL,
	[Phone] [nchar](15) NULL,
	[Instruction] [text] NULL,
 CONSTRAINT [PK_RequestForm] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
